(common_log) {
	log {
		output stdout
		format console
	}
}

(website_static) {
	encode zstd gzip
	root * /usr/share/caddy/website
	try_files {path} {path}/ =404
	file_server
}

(webapp_static) {
	encode zstd gzip

	route {
		@api path /api*
		handle @api {
			uri strip_prefix /api
			reverse_proxy backend:3000
		}

		handle {
			root * /usr/share/caddy/webapp
			try_files {path} /index.html
			file_server
		}
	}
}

dev.chefpocket.com {
	redir https://beta.hokopi.com{uri} 301
	import common_log
}

www.hokopi.com {
	redir https://hokopi.com{uri} 301
	import common_log
}

hokopi.com {
	import website_static
	import common_log
}

beta.hokopi.com {
	header X-Robots-Tag "noindex, nofollow"
	header Clear-Site-Data "\"cache\", \"storage\""

	@legacy_app_routes path /login* /register* /forgot-password* /reset-password* /invitation* /subscription*
	redir @legacy_app_routes https://app.beta.hokopi.com{uri} 302

	@website_html path / /en/ /index.html /en/index.html
	header @website_html Cache-Control "no-cache, no-store, must-revalidate"
	header @website_html Pragma "no-cache"
	header @website_html Expires "0"

	import website_static
	import common_log
}

app.hokopi.com {
	import webapp_static
	import common_log
}

app.beta.hokopi.com {
	import webapp_static
	import common_log
}
