dev.chefpocket.com {
	encode zstd gzip

	route {
		@api path /api*
		handle @api {
			uri strip_prefix /api
			reverse_proxy backend:3000
		}

		handle {
			root * /usr/share/caddy
			try_files {path} /index.html
			file_server
		}
	}

	log {
		output stdout
		format console
	}
}
